.nav-custom{
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border-style: none;
  border-radius: 0;
}
.nav-custom a{
  font-size: 20px;
}

.nav-links:hover {
  text-decoration: underline;
}
