.nav-container{
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none;
  border-radius: 0px;
}

.nav-custom {
  border-style: none;
  background-color: white;
}

#bs-example-navbar-collapse-1 {
  background-color: white;
}

.navbar-brandss {
  padding-left: 10%;
  width: 1000%;
  font-size: 40px;
  font-family: 'Cabin Sketch'
}

.nav-links {
  padding-left: 50px;
  padding-right: 50px;
  border-right: solid;
  border-width: thin;
}

.nav-links-1 {
  padding-left: 50px;
  padding-right: 50px;
}
.nav-links-1:hover {
  text-decoration: underline;
}
.nav-links:hover {
  text-decoration: underline;
}
