.saved-trip-logs {
  background-color: #F8F8F8;
  box-shadow: 8px 10px 5px #C0C0C0;
}

.saved-trip-logs {
  border-style: none;
  margin-top: 5%;
  padding-left: 10px;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
}

.saved-trips-edit-button {
margin-top: 10px;
}

.trip-scroll {
  overflow: scroll;
  height: 300px;
  border-style: solid;
  border-color: #9A9A9A;
}

.saved-trips-title {
  text-decoration: underline;
}
