.nav-customs{
  margin-top: 10px;
  border-radius: 0;
  border-style: none;
  bottom: 0;
  padding-top: 10px;
  background-color: white;
  font-size: 20px;
}
.nav-custom a{
  font-size: 20px;
}


.nav-links {
  padding-left: 50px;
  padding-right: 50px;
  border-right: solid;
  border-width: thin;
}

.nav-links-1 {
  padding-left: 50px;
  padding-right: 50px;
}
.nav-links-1:hover {
  text-decoration: underline;
}
.nav-links:hover {
  text-decoration: underline;
}

.nav-links:hover {
  text-decoration: underline;
}
