

.body {
  margin: 0;
  height: 100%;
  padding: 0;
}

.landing-title{
  margin-top: 4%;
  text-align: center;
  color: white;
  font-size: 10em;
  font-family: 'Cabin Sketch';
}

.landing-title-2 {
  text-align: center;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 4em;
  color: white;
  font-family: 'Cabin Sketch';
}

.landing-list {
  margin-left: 5%;
  margin-right: 3%;
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  color: white;
}

.landingFontColor {
  color: white;
}

.landing-caption{
  font-size: 25px;
  font-family: 'Josefin Slab';
}

.landing-icons {
  font-size: 70px;
  color: white;
  text-align: center;
  margin-left: 33%;
}

.background {
  height: calc(100vh + 345px);
  margin: 0;
  background: url('../../img/landing4.jpg') no-repeat center center fixed;
  background-size: cover;
}

.landing {
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
  margin-bottom: 20%;
}

.get-started {
  padding-top: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
.navbar-form {
  padding-top: 6%;
  height: 20em;
  text-align: center;
  color: #333333;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.username-bar {
  margin-bottom: 3px;
}

.password-bar {
  margin-bottom: 3px;
}
