.landingContainer{
  background: url('../../img/landingBg.jpg') no-repeat center center fixed;
  background-size: cover;
}
.landing {
  margin-left: 50px;
  margin-right: 50px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.landingFontColor{
  color: white;
}

.landingInput{
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
}

.landingRow {
  height: calc(100vh - 80px);
  text-align: center;
  margin-top: 15%;
}
