
.profile-header-pic {

  margin: 0;
  height: 40em;
  background: url('../../img/profile.jpg') no-repeat center center fixed;
  background-size: cover;
}

#banner {
  position: relative;
  height: 700px;
  top: 10em;
}
