
.profile-header-pic {

  margin: 0;
  height: 40em;
  background: url('../../img/profile.jpg') no-repeat center center fixed;
  background-size: cover;
}

#banner {
  position: absolute;
  height: 700px;
  top: 60em;
  margin-left: 80px;
}
.typeahead{
  z-index: 9;
}
