body {
  font-family: 'Josefin Slab';
}
.profile-pic,
.edit-profile-pic {
  background-image: url('./vann.jpg');
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all .3s ease;
  text-decoration: none;
  border-style: solid;
  border-width: thick;
  border-color: black;
}

.edit-profile-pic {
  background-image: none;
}

.edit-profile-container {
  display: flex;
  align-items: center;
}

.profile-pic:hover {
  background-color: rgba(0, 0, 0, .5);
  z-index: 10000;
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
}

.cam-icon {
  display: inline-block;
  padding-top: 8em;
  padding-bottom: 4.5em;
}

.pic-container {
  display: flex;
  justify-content: center;
}

.bio {
  padding-top: 7.5%;
}

.profile-info {
  margin-left: 10%;
  display: block;
  align-items: center;
  text-align: center;
}

.demo-box {
  width: 200px;
}

.profile-info {
  align-content: center;
  height: 40em;
  width: 80vw;
  background-color: rgba(255, 255, 255);
}

.profile-location {
  border-bottom: double;
  border-width: thick;
}

.profile-view {
  height: 20em;
  display: flex;
  justify-content: center;
}

.profile-well {
  background-color: #f8f8f8;
  box-shadow: 8px 10px 5px #c0c0c0;
  height: 300px;
  width: 100%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.button-profile {
  display: inline;
  margin-top: 5px;
  border-style: none;
}

.bio-box {
  margin-top: 10px;
  resize: none;
  height: 10%;
  width: 35em;
  text-align: center;
}

.trip-log-title {
  width: 40%;
  margin-bottom: 10px;
}

.form-box-show {
  font-size: 17px;
}

.bio-underline {
  text-decoration: underline;
  font-size: 20px;
}
.bio-show {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 14px;
  overflow: scroll;
}

.biography-box {
  margin-top: 10px;
  margin-left: 5px;
  padding-top: 10px;
  height: 138px;
  width: 100%;
  overflow-y: scroll;
  text-align: center;
  background-color: white;
  border-style: groove;
}

.demo-box {
  background-color: rgba(255, 255, 255, 0.7);
}

.button-profile {
  background-color: #f8f8f8;
}

.change-pic-form {
  padding: 10px;
}
