.registerBackground {
  text-align: center;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-textbox {
  text-align: center;
  width: 40%;
}

.register-container {
  background: url('../../img/registerBackground.jpg') no-repeat center center fixed;
  background-size: cover;
}

.registration {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.registrationTitle {
  margin-top: 0;
  margin-bottom: 15px;
}

.registerRow {
  height: calc(100vh - 80px);
}
