.weather{
  height: 200px;
}
.calendar{
  height: 400px;
  border: 1px solid #F0F0F0;
}
.dashboardComponents{
  padding: 20px;
}
.todo-wrapper{
  height: 400px;
  padding-left: 0px;
}
.todo-input-wrapper{
  margin-top: 0px;
}
.todo{
  max-height: 350px;
  overflow-y: scroll;
  margin-bottom: 0px;
  border-top: 1px solid #F0F0F0;
  border-radius: 3px;
  padding-bottom: 0px;
}
.todo-input{
  height: 50px;
}
.dashboardLower{
  margin-top: 30px;
}
