*{
  box-sizing: border-box;
  margin: 0;
}
.footer-footer  {
  position:  relative;
  padding-top: 10px;
  background-color: white;
  bottom: 0;
  width: 100%;
  border-top: solid;
  border-width: thin;
  border-color: #e8e5e5;
}
.footerLinks {
  list-style-type: none;

}

.pull-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-link-2{
  text-align: center;
  width: auto;
}

.social{
  padding-top: 15px;
}

.fa-facebook{
  color: #3B5998;
}

.fa-twitter {
  color: #00BDF5;
}

.fa-instagram {

}
